body{
  background-color: gray;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

nav{
  display: flex;
  flex-direction: row;
  gap:25%;
  padding: 3%;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 0%;
  margin-bottom: 0%;
  border: 3px dotted gray;
}

p{
  color: white;
  font-size: 35px;
}

a{
    /*text-decoration: none;*/
    color:lightgreen;
    font-size: 50px;
    margin-bottom: 2%;
    align-self: center;
}

button{
  text-align: left;
  border: 5px solid green;
  padding: 1%;
  margin: 1%;
  margin-right: auto;
  font-size: 100%;
  font-family: cursive;
}

h1{
  border: 3px solid purple;
  color: lime;
  text-align: center;
  font-size: 900%;
}

hr {
  width: 100%;
  color: purple;
  height: 3px;
  border-width: 0;
  background-color: purple;
  margin-top: 1%;
}

input{
  font-size: 30px;
}

label{
  border-top: 2px solid black;
  padding-bottom: 1%;
  color: purple;
  font-size: 35px;

}





.boxydiv{
  padding-left: 5%;
  padding-right: 5%;
  margin: 2%;
  border: 3px solid lightblue;
}

.menu{
  display: flex;
}

.optioncbox{
  transform: scale(2.5);
  position: relative;
  float: right;
  margin-top: 15px;
  margin-right: 1%;
}

.startbtn{
  border: 5px solid blue;
  border-radius: 5%;
  font-size: 25px;
}


.inq{
  display: none;
}

.listsc{
  display: none;
}

.fileInput{
  border: 5px solid green;
  background-color: lightgray;
  padding: 1%;
  font-size: 25px;
  margin-left: 0;
  margin-right: auto;
}

#imgZelfFace{
  width: 20%;

  align-self: center;
}

#zquestion{
  font-size:40px;
  align-self: center;
  margin-top: 20px;
}

#yanswer {
  font-size:220%;
  width: 100%;
  align-self: center;
}

#optdiv{
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
  margin: 1%;
  border: 5px solid pink;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}

#displaybtn{
  text-align: center;
  border: 5px solid purple;
  margin: 2%;
  margin-left: 4%;
  margin-right: auto;
  font-size: 100%;
  border-radius: 50%;
  transform: scale(1.5);
}
